<div class="container mt-3">
    <div class="row text-center">
        <div class="col  p-0">
            <span class="ccc " style="font-size: 12px;
        color: red;
        top: -1em;">↑{{cchanges}}</span>
            <div class="cc">{{totalCases}}</div>
            <div style="font-size:14px">Total</div>
        </div>
        <div class="col  p-0">
            <span class="rcc" style="font-size: 12px;
            color:green;
            top: -1em;">↑{{rchanges}}</span>
            <div class="rc">{{recovered}}</div>
            <div style="font-size:14px">Cured</div>
        </div>
        <div class="col  p-0">
            <span class="dcc" style="font-size: 12px;
            color:grey;
            top: -1em;">↑{{dchanges}}</span>
            <div class="dc">{{deaths}}</div>
            <div style="font-size:14px">Deaths</div>
        </div>
        <div class="col  p-0">
            <span class="acc" style="font-size: 12px;
            color:orange;
            top: -1em;">↑{{aChanges}}</span>
            <div class="ac">{{activeCases}}</div>
            <div style="font-size:14px">Active</div>
        </div>
    </div>
</div>